

.customer-container{
    border:1px solid black;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    min-height: 70vh;
    padding: 0px 25px;
}

.table-responsive{

}