<div class="customer-container">
    <div class="table-responsive">
        <div class="row mt-5 justify-content-between">
            <div class="col-4">
                <h1>Customers List</h1>
            </div>
            <div class="input-group col-4">
                <form class="form-inline">
                    <input class="form-control" type="search" placeholder="Search" aria-label="Search" [ngModelOptions]="{standalone: true}" [(ngModel)]="searchWord" (ngModelChange)="onSearchCustomer()">
                </form>
            </div>
            <div class="col-2">
                <button class="btn btn-primary" data-toggle="modal" data-target="#newCustomerModal">
                    <i class="fa fa-plus-circle"></i>
                    New Customer
                </button>
            </div>
        </div>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Complete Name</th>
                    <th scope="col">Contract Date</th>
                    <th scope="col">Address</th>
                    <th scope="col">Profile</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let customer of customers;">
                    <th scope="row">{{customer.Complete_Name}}</th>
                    <td>{{customer.Contract_Date}}</td>
                    <td>{{customer.Address_Customer}}</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary"
                            [routerLink]="['/profile-customer', customer.Id_Customer]">
                            <i class="fa fa-eye"></i>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Modal -->
<div class="modal fade" id="newCustomerModal" tabindex="-1" role="dialog" aria-labelledby="newCustomerModal"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Adding a new customer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form [formGroup]="newCustomerForm">

                    <div class="form-row">
                        <!--📌 Complete_Name -->
                        <div class="form-group col-md-6">
                            <label for="completeName" class="col-sm-2 col-form-label">Name:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="completeName"
                                    formControlName="Complete_Name" placeholder="Complete Name">
                            </div>
                        </div>

                        <!--📌 Address_Customer -->
                        <div class="form-group col-md-6">
                            <label for="address" class="col-sm-2 col-form-label">Address:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="address" formControlName="Address"
                                    placeholder="Address">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">


                        <!--📌 Contract_Date -->
                        <div class="form-group col-md-6">
                            <label for="contract" class="col-12 col-form-label">Contract Date:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="contract" formControlName="Contract_Date"
                                    placeholder="Contract Date">
                            </div>
                        </div>


                        <!--📌 Name_Plan -->
                        <div class="form-group col-md-6">
                            <label for="plan" class="col-12 col-form-label">
                                Name Plan:
                            </label>
                            <div class="col-sm-10">
                                <select class="custom-select" formControlName="Id_Celphone_Plan"
                                    (change)="onSelectPlan($event)">
                                    <option value="1">1- Unlimited </option>
                                    <option value="2">2- Hostpot</option>
                                    <option value="3">3- Premium</option>
                                    <option value="4">4- Basic</option>
                                </select>
                            </div>
                        </div>

                    </div>

                    <div class="form-row">
                        <!--📌 Price -->
                        <div class="form-group col-md-6">
                            <label for="price" class="col-12 col-form-label">Price:</label>
                            <div class="col-sm-10">
                                <input type="text" [disabled]="true" class="form-control" id="price"
                                    formControlName="Price" placeholder="Price">
                            </div>
                        </div>

                        <!--📌 DUI -->
                        <div class="form-group col-md-6">
                            <label for="dui" class="col-sm-2 col-form-label">DUI:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="dui" formControlName="DUI"
                                    placeholder="DUI">
                            </div>
                        </div>

                    </div>

                    <div class="form-row">
                        <!--📌 NIT -->
                        <div class="form-group col-md-6">
                            <label for="nit" class="col-sm-2 col-form-label">NIT:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="nit" formControlName="NIT"
                                    placeholder="NIT">
                            </div>
                        </div>

                        <!--📌 AFP -->
                        <div class="form-group col-md-6">
                            <label for="afp" class="col-sm-2 col-form-label">AFP:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="afp" formControlName="AFP"
                                    placeholder="AFP">
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <!--📌 ISSS -->
                        <div class="form-group col-md-6">
                            <label for="isss" class="col-sm-2 col-form-label">ISSS:</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" id="isss" formControlName="ISSS"
                                    placeholder="ISSS">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal" #closeModal>Cancel</button>
                <button type="button" class="btn btn-primary" (click)="createCustomer()">Create Customer</button>
            </div>
        </div>
    </div>
</div>